In [10]:
# import libraries

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
# import files

GB_price = pd.read_excel("D:/UK/assignment/DSA8023/Analython_3/GB Prices.xlsx")
historic_gas_price = pd.read_excel("D:/UK/assignment/DSA8023/Analython_3/Historic Gas Prices.xlsx")
market = pd.read_excel("D:/UK/assignment/DSA8023/Analython_3/Prices and NIV.xlsx")
wind_demand = pd.read_excel("D:/UK/assignment/DSA8023/Analython_3/Wind and Demand.xlsx", sheet_name= 1, header= 1)
actual_wind_demand = pd.read_excel("D:/UK/assignment/DSA8023/Analython_3/Wind and Demand.xlsx", header= 1)

In [11]:
print('GB_price', GB_price.shape)
print('historic_gas_price', historic_gas_price.shape)
print('market', market.shape)
print('wind_demand', wind_demand.shape)
print('actual_wind_demand', actual_wind_demand.shape)

GB_price (40608, 4)
historic_gas_price (844, 2)
market (39355, 10)
wind_demand (40511, 5)
actual_wind_demand (40509, 5)

In [34]:
wind_demand

,Unnamed: 0,Trade Date,Start Date,Start Time 30 Minute Period,Demand (MW)
0,NaN,01/01/2021,31/12/2020,23:00:00,4209
1,NaN,01/01/2021,31/12/2020,23:30:00,4159
2,NaN,01/01/2021,01/01/2021,00:00:00,4016
3,NaN,01/01/2021,01/01/2021,00:30:00,3891
4,NaN,01/01/2021,01/01/2021,01:00:00,3767
...,...,...,...,...,...
40505,NaN,24/04/2023,24/04/2023,20:30:00,4977
40506,NaN,24/04/2023,24/04/2023,21:00:00,5071
40507,NaN,24/04/2023,24/04/2023,21:30:00,4978
40508,NaN,24/04/2023,24/04/2023,22:00:00,4762
40509,NaN,24/04/2023,24/04/2023,22:30:00,4497

In [36]:
# dropping the first empty column 

if 'Unnamed: 0' in wind_demand.columns:
    wind_demand.drop(columns=['Unnamed: 0'])

wind_demand = wind_demand.rename({'Start Date': 'start_date','Trade Date': 'trade_date', 'Start Time 30 Minute Period': 'start_time','Demand (MW)': 'demand'})
# actual_wind_demand = actual_wind_demand.drop(columns=[actual_wind_demand.columns[0]])

wind_demand

,Unnamed: 0,Trade Date,Start Date,Start Time 30 Minute Period,Demand (MW)
0,NaN,01/01/2021,31/12/2020,23:00:00,4209
1,NaN,01/01/2021,31/12/2020,23:30:00,4159
2,NaN,01/01/2021,01/01/2021,00:00:00,4016
3,NaN,01/01/2021,01/01/2021,00:30:00,3891
4,NaN,01/01/2021,01/01/2021,01:00:00,3767
...,...,...,...,...,...
40505,NaN,24/04/2023,24/04/2023,20:30:00,4977
40506,NaN,24/04/2023,24/04/2023,21:00:00,5071
40507,NaN,24/04/2023,24/04/2023,21:30:00,4978
40508,NaN,24/04/2023,24/04/2023,22:00:00,4762
40509,NaN,24/04/2023,24/04/2023,22:30:00,4497

In [29]:
wind_demand

       Start Date Start Time 30 Minute Period  Demand (MW)
0      31/12/2020                    23:00:00         4209
1      31/12/2020                    23:30:00         4159
2      01/01/2021                    00:00:00         4016
3      01/01/2021                    00:30:00         3891
4      01/01/2021                    01:00:00         3767
...           ...                         ...          ...
40505  24/04/2023                    20:30:00         4977
40506  24/04/2023                    21:00:00         5071
40507  24/04/2023                    21:30:00         4978
40508  24/04/2023                    22:00:00         4762
40509  24/04/2023                    22:30:00         4497

[40510 rows x 3 columns]

In [32]:
wind_demand['start_year']

array(['31/12/2020', '01/01/2021', '02/01/2021', '03/01/2021',
       '04/01/2021', '05/01/2021', '06/01/2021', '07/01/2021',
       '08/01/2021', '09/01/2021', '10/01/2021', '11/01/2021',
       '12/01/2021', '13/01/2021', '14/01/2021', '15/01/2021',
       '16/01/2021', '17/01/2021', '18/01/2021', '19/01/2021',
       '20/01/2021', '21/01/2021', '22/01/2021', '23/01/2021',
       '24/01/2021', '25/01/2021', '26/01/2021', '27/01/2021',
       '28/01/2021', '29/01/2021', '30/01/2021', '31/01/2021',
       '01/02/2021', '02/02/2021', '03/02/2021', '04/02/2021',
       '05/02/2021', '06/02/2021', '07/02/2021', '08/02/2021',
       '09/02/2021', '10/02/2021', '11/02/2021', '12/02/2021',
       '13/02/2021', '14/02/2021', '15/02/2021', '16/02/2021',
       '17/02/2021', '18/02/2021', '19/02/2021', '20/02/2021',
       '21/02/2021', '22/02/2021', '23/02/2021', '24/02/2021',
       '25/02/2021', '26/02/2021', '27/02/2021', '28/02/2021',
       '01/03/2021', '02/03/2021', '03/03/2021', '04/03/2021',
       '05/03/2021', '06/03/2021', '07/03/2021', '08/03/2021',
       '09/03/2021', '10/03/2021', '11/03/2021', '12/03/2021',
       '13/03/2021', '14/03/2021', '15/03/2021', '16/03/2021',
       '17/03/2021', '18/03/2021', '19/03/2021', '20/03/2021',
       '21/03/2021', '22/03/2021', '23/03/2021', '24/03/2021',
       '25/03/2021', '26/03/2021', '27/03/2021', '28/03/2021',
       '29/03/2021', '30/03/2021', '31/03/2021', '01/04/2021',
       '02/04/2021', '03/04/2021', '04/04/2021', '05/04/2021',
       '06/04/2021', '07/04/2021', '08/04/2021', '09/04/2021',
       '10/04/2021', '11/04/2021', '12/04/2021', '13/04/2021',
       '14/04/2021', '15/04/2021', '16/04/2021', '17/04/2021',
       '18/04/2021', '19/04/2021', '20/04/2021', '21/04/2021',
       '22/04/2021', '23/04/2021', '24/04/2021', '25/04/2021',
       '26/04/2021', '27/04/2021', '28/04/2021', '29/04/2021',
       '30/04/2021', '01/05/2021', '02/05/2021', '03/05/2021',
       '04/05/2021', '05/05/2021', '06/05/2021', '07/05/2021',
       '08/05/2021', '09/05/2021', '10/05/2021', '11/05/2021',
       '12/05/2021', '13/05/2021', '14/05/2021', '15/05/2021',
       '16/05/2021', '17/05/2021', '18/05/2021', '19/05/2021',
       '20/05/2021', '21/05/2021', '22/05/2021', '23/05/2021',
       '24/05/2021', '25/05/2021', '26/05/2021', '27/05/2021',
       '28/05/2021', '29/05/2021', '30/05/2021', '31/05/2021',
       '01/06/2021', '02/06/2021', '03/06/2021', '04/06/2021',
       '05/06/2021', '06/06/2021', '07/06/2021', '08/06/2021',
       '09/06/2021', '10/06/2021', '11/06/2021', '12/06/2021',
       '13/06/2021', '14/06/2021', '15/06/2021', '16/06/2021',
       '17/06/2021', '18/06/2021', '19/06/2021', '20/06/2021',
       '21/06/2021', '22/06/2021', '23/06/2021', '24/06/2021',
       '25/06/2021', '26/06/2021', '27/06/2021', '28/06/2021',
       '29/06/2021', '30/06/2021', '01/07/2021', '02/07/2021',
       '03/07/2021', '04/07/2021', '05/07/2021', '06/07/2021',
       '07/07/2021', '08/07/2021', '09/07/2021', '10/07/2021',
       '11/07/2021', '12/07/2021', '13/07/2021', '14/07/2021',
       '15/07/2021', '16/07/2021', '17/07/2021', '18/07/2021',
       '19/07/2021', '20/07/2021', '21/07/2021', '22/07/2021',
       '23/07/2021', '24/07/2021', '25/07/2021', '26/07/2021',
       '27/07/2021', '28/07/2021', '29/07/2021', '30/07/2021',
       '31/07/2021', '01/08/2021', '02/08/2021', '03/08/2021',
       '04/08/2021', '05/08/2021', '06/08/2021', '07/08/2021',
       '08/08/2021', '09/08/2021', '10/08/2021', '11/08/2021',
       '12/08/2021', '13/08/2021', '14/08/2021', '15/08/2021',
       '16/08/2021', '17/08/2021', '18/08/2021', '19/08/2021',
       '20/08/2021', '21/08/2021', '22/08/2021', '23/08/2021',
       '24/08/2021', '25/08/2021', '26/08/2021', '27/08/2021',
       '28/08/2021', '29/08/2021', '30/08/2021', '31/08/2021',
       '01/09/2021', '02/09/2021', '03/09/2021', '04/09/2021',
       '05/09/2021', '06/09/2021', '07/09/2021', '08/09/2021',
       '09/09/2021', '10/09/2021', '11/09/2021', '12/09/2021',
       '13/09/2021', '14/09/2021', '15/09/2021', '16/09/2021',
       '17/09/2021', '18/09/2021', '19/09/2021', '20/09/2021',
       '21/09/2021', '22/09/2021', '23/09/2021', '24/09/2021',
       '25/09/2021', '26/09/2021', '27/09/2021', '28/09/2021',
       '29/09/2021', '30/09/2021', '01/10/2021', '02/10/2021',
       '03/10/2021', '04/10/2021', '05/10/2021', '06/10/2021',
       '07/10/2021', '08/10/2021', '09/10/2021', '10/10/2021',
       '11/10/2021', '12/10/2021', '13/10/2021', '14/10/2021',
       '15/10/2021', '16/10/2021', '17/10/2021', '18/10/2021',
       '19/10/2021', '20/10/2021', '21/10/2021', '22/10/2021',
       '23/10/2021', '24/10/2021', '25/10/2021', '26/10/2021',
       '27/10/2021', '28/10/2021', '29/10/2021', '30/10/2021',
       '31/10/2021', '01/11/2021', '02/11/2021', '03/11/2021',
       '04/11/2021', '05/11/2021', '06/11/2021', '07/11/2021',
       '08/11/2021', '09/11/2021', '10/11/2021', '11/11/2021',
       '12/11/2021', '13/11/2021', '14/11/2021', '15/11/2021',
       '16/11/2021', '17/11/2021', '18/11/2021', '19/11/2021',
       '20/11/2021', '21/11/2021', '22/11/2021', '23/11/2021',
       '24/11/2021', '25/11/2021', '26/11/2021', '27/11/2021',
       '28/11/2021', '29/11/2021', '30/11/2021', '01/12/2021',
       '02/12/2021', '03/12/2021', '04/12/2021', '05/12/2021',
       '06/12/2021', '07/12/2021', '08/12/2021', '09/12/2021',
       '10/12/2021', '11/12/2021', '12/12/2021', '13/12/2021',
       '14/12/2021', '15/12/2021', '16/12/2021', '17/12/2021',
       '18/12/2021', '19/12/2021', '20/12/2021', '21/12/2021',
       '22/12/2021', '23/12/2021', '24/12/2021', '25/12/2021',
       '26/12/2021', '27/12/2021', '28/12/2021', '29/12/2021',
       '30/12/2021', '31/12/2021', '01/01/2022', '02/01/2022',
       '03/01/2022', '04/01/2022', '05/01/2022', '06/01/2022',
       '07/01/2022', '08/01/2022', '09/01/2022', '10/01/2022',
       '11/01/2022', '12/01/2022', '13/01/2022', '14/01/2022',
       '15/01/2022', '16/01/2022', '17/01/2022', '18/01/2022',
       '19/01/2022', '20/01/2022', '21/01/2022', '22/01/2022',
       '23/01/2022', '24/01/2022', '25/01/2022', '26/01/2022',
       '27/01/2022', '28/01/2022', '29/01/2022', '30/01/2022',
       '31/01/2022', '01/02/2022', '02/02/2022', '03/02/2022',
       '04/02/2022', '05/02/2022', '06/02/2022', '07/02/2022',
       '08/02/2022', '09/02/2022', '10/02/2022', '11/02/2022',
       '12/02/2022', '13/02/2022', '14/02/2022', '15/02/2022',
       '16/02/2022', '17/02/2022', '18/02/2022', '19/02/2022',
       '20/02/2022', '21/02/2022', '22/02/2022', '23/02/2022',
       '24/02/2022', '25/02/2022', '26/02/2022', '27/02/2022',
       '28/02/2022', '01/03/2022', '02/03/2022', '03/03/2022',
       '04/03/2022', '05/03/2022', '06/03/2022', '07/03/2022',
       '08/03/2022', '09/03/2022', '10/03/2022', '11/03/2022',
       '12/03/2022', '13/03/2022', '14/03/2022', '15/03/2022',
       '16/03/2022', '17/03/2022', '18/03/2022', '19/03/2022',
       '20/03/2022', '21/03/2022', '22/03/2022', '23/03/2022',
       '24/03/2022', '25/03/2022', '26/03/2022', '27/03/2022',
       '28/03/2022', '29/03/2022', '30/03/2022', '31/03/2022',
       '01/04/2022', '02/04/2022', '03/04/2022', '04/04/2022',
       '05/04/2022', '06/04/2022', '07/04/2022', '08/04/2022',
       '09/04/2022', '10/04/2022', '11/04/2022', '12/04/2022',
       '13/04/2022', '14/04/2022', '15/04/2022', '16/04/2022',
       '17/04/2022', '18/04/2022', '19/04/2022', '20/04/2022',
       '21/04/2022', '22/04/2022', '23/04/2022', '24/04/2022',
       '25/04/2022', '26/04/2022', '27/04/2022', '28/04/2022',
       '29/04/2022', '30/04/2022', '01/05/2022', '02/05/2022',
       '03/05/2022', '04/05/2022', '05/05/2022', '06/05/2022',
       '07/05/2022', '08/05/2022', '09/05/2022', '10/05/2022',
       '11/05/2022', '12/05/2022', '13/05/2022', '14/05/2022',
       '15/05/2022', '16/05/2022', '17/05/2022', '18/05/2022',
       '19/05/2022', '20/05/2022', '21/05/2022', '22/05/2022',
       '23/05/2022', '24/05/2022', '25/05/2022', '26/05/2022',
       '27/05/2022', '28/05/2022', '29/05/2022', '30/05/2022',
       '31/05/2022', '01/06/2022', '02/06/2022', '03/06/2022',
       '04/06/2022', '05/06/2022', '06/06/2022', '07/06/2022',
       '08/06/2022', '09/06/2022', '10/06/2022', '11/06/2022',
       '12/06/2022', '13/06/2022', '14/06/2022', '15/06/2022',
       '16/06/2022', '17/06/2022', '18/06/2022', '19/06/2022',
       '20/06/2022', '21/06/2022', '22/06/2022', '23/06/2022',
       '24/06/2022', '25/06/2022', '26/06/2022', '27/06/2022',
       '28/06/2022', '29/06/2022', '30/06/2022', '01/07/2022',
       '02/07/2022', '03/07/2022', '04/07/2022', '05/07/2022',
       '06/07/2022', '07/07/2022', '08/07/2022', '09/07/2022',
       '10/07/2022', '11/07/2022', '12/07/2022', '13/07/2022',
       '14/07/2022', '15/07/2022', '16/07/2022', '17/07/2022',
       '18/07/2022', '19/07/2022', '20/07/2022', '21/07/2022',
       '22/07/2022', '23/07/2022', '24/07/2022', '25/07/2022',
       '26/07/2022', '27/07/2022', '28/07/2022', '29/07/2022',
       '30/07/2022', '31/07/2022', '01/08/2022', '02/08/2022',
       '03/08/2022', '04/08/2022', '05/08/2022', '06/08/2022',
       '07/08/2022', '08/08/2022', '09/08/2022', '10/08/2022',
       '11/08/2022', '12/08/2022', '13/08/2022', '14/08/2022',
       '15/08/2022', '16/08/2022', '17/08/2022', '18/08/2022',
       '19/08/2022', '20/08/2022', '21/08/2022', '22/08/2022',
       '23/08/2022', '24/08/2022', '25/08/2022', '26/08/2022',
       '27/08/2022', '28/08/2022', '29/08/2022', '30/08/2022',
       '31/08/2022', '01/09/2022', '02/09/2022', '03/09/2022',
       '04/09/2022', '05/09/2022', '06/09/2022', '07/09/2022',
       '08/09/2022', '09/09/2022', '10/09/2022', '11/09/2022',
       '12/09/2022', '13/09/2022', '14/09/2022', '15/09/2022',
       '16/09/2022', '17/09/2022', '18/09/2022', '19/09/2022',
       '20/09/2022', '21/09/2022', '22/09/2022', '23/09/2022',
       '24/09/2022', '25/09/2022', '26/09/2022', '27/09/2022',
       '28/09/2022', '29/09/2022', '30/09/2022', '01/10/2022',
       '02/10/2022', '03/10/2022', '04/10/2022', '05/10/2022',
       '06/10/2022', '07/10/2022', '08/10/2022', '09/10/2022',
       '10/10/2022', '11/10/2022', '12/10/2022', '13/10/2022',
       '14/10/2022', '15/10/2022', '16/10/2022', '17/10/2022',
       '18/10/2022', '19/10/2022', '20/10/2022', '21/10/2022',
       '22/10/2022', '23/10/2022', '24/10/2022', '25/10/2022',
       '26/10/2022', '27/10/2022', '28/10/2022', '29/10/2022',
       '30/10/2022', '31/10/2022', '01/11/2022', '02/11/2022',
       '03/11/2022', '04/11/2022', '05/11/2022', '06/11/2022',
       '07/11/2022', '08/11/2022', '09/11/2022', '10/11/2022',
       '11/11/2022', '12/11/2022', '13/11/2022', '14/11/2022',
       '15/11/2022', '16/11/2022', '17/11/2022', '18/11/2022',
       '19/11/2022', '20/11/2022', '21/11/2022', '22/11/2022',
       '23/11/2022', '24/11/2022', '25/11/2022', '26/11/2022',
       '27/11/2022', '28/11/2022', '29/11/2022', '30/11/2022',
       '01/12/2022', '02/12/2022', '03/12/2022', '04/12/2022',
       '05/12/2022', '06/12/2022', '07/12/2022', '08/12/2022',
       '09/12/2022', '10/12/2022', '11/12/2022', '12/12/2022',
       '13/12/2022', '14/12/2022', '15/12/2022', '16/12/2022',
       '17/12/2022', '18/12/2022', '19/12/2022', '20/12/2022',
       '21/12/2022', '22/12/2022', '23/12/2022', '24/12/2022',
       '25/12/2022', '26/12/2022', '27/12/2022', '28/12/2022',
       '29/12/2022', '30/12/2022', '31/12/2022', '01/01/2023',
       '02/01/2023', '03/01/2023', '04/01/2023', '05/01/2023',
       '06/01/2023', '07/01/2023', '08/01/2023', '09/01/2023',
       '10/01/2023', '11/01/2023', '12/01/2023', '13/01/2023',
       '14/01/2023', '15/01/2023', '16/01/2023', '17/01/2023',
       '18/01/2023', '19/01/2023', '20/01/2023', '21/01/2023',
       '22/01/2023', '23/01/2023', '24/01/2023', '25/01/2023',
       '26/01/2023', '27/01/2023', '28/01/2023', '29/01/2023',
       '30/01/2023', '31/01/2023', '01/02/2023', '02/02/2023',
       '03/02/2023', '04/02/2023', '05/02/2023', '06/02/2023',
       '07/02/2023', '08/02/2023', '09/02/2023', '10/02/2023',
       '11/02/2023', '12/02/2023', '13/02/2023', '14/02/2023',
       '15/02/2023', '16/02/2023', '17/02/2023', '18/02/2023',
       '19/02/2023', '20/02/2023', '21/02/2023', '22/02/2023',
       '23/02/2023', '24/02/2023', '25/02/2023', '26/02/2023',
       '27/02/2023', '28/02/2023', '01/03/2023', '02/03/2023',
       '03/03/2023', '04/03/2023', '05/03/2023', '06/03/2023',
       '07/03/2023', '08/03/2023', '09/03/2023', '10/03/2023',
       '11/03/2023', '12/03/2023', '13/03/2023', '14/03/2023',
       '15/03/2023', '16/03/2023', '17/03/2023', '18/03/2023',
       '19/03/2023', '20/03/2023', '21/03/2023', '22/03/2023',
       '23/03/2023', '24/03/2023', '25/03/2023', '26/03/2023',
       '27/03/2023', '28/03/2023', '29/03/2023', '30/03/2023',
       '31/03/2023', '01/04/2023', '02/04/2023', '03/04/2023',
       '04/04/2023', '05/04/2023', '06/04/2023', '07/04/2023',
       '08/04/2023', '09/04/2023', '10/04/2023', '11/04/2023',
       '12/04/2023', '13/04/2023', '14/04/2023', '15/04/2023',
       '16/04/2023', '17/04/2023', '18/04/2023', '19/04/2023',
       '20/04/2023', '21/04/2023', '22/04/2023', '23/04/2023',
       '24/04/2023'], dtype=object)